*
{
    margin: 0;

}
form
{
 font-family: 'Kosugi Maru', sans-serif;
   position: absolute;
  top: 35;
  right: 0;
  bottom: 150;
  left: 85;
  margin: auto;
  height: 3.2rem;
   color:white;
  font-size:20;
}



section
{
position: relative;
width: 100%;
height: 100vh;
background: #3586ff;
overflow: hidden;
}

.wave
{
background: #3586ff;
bottom: 0;
left: 0;
width: 100%;
height: 100px;
background: url(wave.png);
background-size: 1000px 100px;
}
.wave.wave1
{
position: fixed;
animation: animate 30s linear infinite;
z-index: 1000;
opacity: 1;
animation-delay: 0s;
bottom: 0;
}

.wave.wave2
{
position: fixed;
animation: animate2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 10px;
}

.wave.wave3
{
position: fixed;
animation: animate2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 10px;
}

 .wave.wave4
{
position: fixed;
animation: animate2 15s linear infinite;
z-index: 999;
opacity: 0.5;
animation-delay: -5s;
bottom: 10px;
}

@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}

@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}



@keyframes animate3
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}


@keyframes animate4
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position: 1000px;
    }
}

.create
{
width:;
}

li
{
margin:2 0 2 0;
}

.saku
{
 margin-left: 560;
 margin-top: 10;
}
