<!-- ▼▼▼ git commit ”ログインユーザー改修”　テンプレートの拡張機能を搭載しました　▼▼▼-->
<!--1.　まずは親テンプレートを指定します。-->


{% load static %}
<link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=cyrillic,japanese" rel="stylesheet">
<link href="{% static 'css/create.css' %}" rel="stylesheet" type="text/css">
<!--2. 次に親テンプレートに組み込むブロックを記述します-->
    {%  block loginForm %}
<section>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
</section>
    <form action="{% url 'blog:create' %}" method="POST" class="create">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"class="saku">作成する</button>
    </form>

    <a href="{% url 'blog:login' %}"><button type="button" class="btn btn-outline-info">ログイン画面へ</button></a>

    {% endblock %}

<!-- ▲▲▲ git commit ”ログインユーザー改修”　テンプレートの拡張機能を搭載しました　▲▲▲-->
