{% load static %}

<head>
    <meta charset="UTF-8">
    <title>index</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'css/index1.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Kosugi+Maru&display=swap&subset=cyrillic,japanese" rel="stylesheet">
</head>

<body>


<section>
    <a class="logout" href="{% url 'blog:top_page' %}" id="logout">もうやめる(ログアウト)</a>

    　　<p class="header">さて、なにをつぶやこう？</p>

    <i class="fas fa-dove"></i>
    <form method="POST" class="post-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save">つぶやく</button>
    </form>
    <div class="tubu">
    <p class="tubuyaki">つぶやき一覧</p>
     <div class="post">
        {% for post in posts %}
        <div style="border-top: 2px solid;" class="border">
            <div>
                <p>投稿日: {{ post.created_date }}</p>
                <div class="post2">
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
                </div>
             </div>
            <br>
                <form class="tubu" action="/like" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ post.id }}" name="post_id">
                        <input type="hidden" value="{{ post.author_id }}" name="user_id">
                       <input type="submit" name="like" value="いいね">（この投稿に{{ post.likepost__count }} 件いいねされました。）
                </form>
        </div>
         {% endfor %}
    </div>

</section>
<p class="space"></p>
        <div class="wave wave1"></div>
        <div class="wave wave2"></div>
        <div class="wave wave3"></div>
        <div class="wave wave4"></div>
</body>
